fLight = 300
fRegular = 400
fMedium = 500
fBold = 700 
fBlack = 900

// cWhite = #ffffff
// cBlack = #1d1d1d
// cGray = #6e6e6e
// cbl = #27AEC2

// mr = "Mont-Regular"
// mb = "Mont-Bold"

// @font-face
// 	font-family: 'Mont-Regular'
// 	font-weight: normal
// 	font-style: normal
// 	src: url("../fonts/Mont-Regular/Mont-Regular.eot")
// 	src: url("../fonts/Mont-Regular/Mont-Regular.eot?#iefix")format("embedded-opentype"),
// 	url("../fonts/Mont-Regular/Mont-Regular.woff") format("woff"),
// 	url("../fonts/Mont-Regular/Mont-Regular.ttf") format("truetype")

// @font-face
// 	font-family: 'Mont-Bold'
// 	font-weight: normal
// 	font-style: normal
// 	src: url("../fonts/Mont-Bold/Mont-Bold.eot")
// 	src: url("../fonts/Mont-Bold/Mont-Bold.eot?#iefix")format("embedded-opentype"),
// 	url("../fonts/Mont-Bold/Mont-Bold.woff") format("woff"),
// 	url("../fonts/Mont-Bold/Mont-Bold.ttf") format("truetype")

// body
// html
// 	font-family mr
// 	c cBlack