.button
	display inline-block
	min-width 230px
	height 48px
	line-height 46px
	text-align center
	c cWhite
	font-family fPoppinsSemiBold
	font-size 15px
	text-decoration none
	background: cPink
	border-radius 4px
	cursor pointer
	transition all .25s ease-out
	&:hover
		background: #f85f72
	@media screen and (max-width: 600px)
		font-size 12px
		