// .footer
// 	position absolute
// 	left 0
// 	bottom 0
// 	width 100%
// 	background: #5D1324
// 	padding 80px 0 40px
// 	overflow hidden
// 	@media screen and (max-width: 900px)
// 		padding 40px 0 0
// 	@media screen and (max-width: 600px)
// 		padding-top 20px