.header
	position relative
	display flex
	flex-direction row
	justify-content space-between
	height 62px
	padding 10px 12px
	background: #fff
	border-bottom 1px solid #E7E7E7

.header-name-wrapper
	display flex
	// align-items center

.header-name
	display flex
	flex-direction column
	justify-content: space-evenly

.name-category
	color #222
	font-size 13px
	font-weight 700

.date-category
	color: #b3b3b3
	font-size: .85em

.header-info
	display flex
	flex-direction row
	align-items center

.header-info--items
	display inline-flex

.icon-bell
	fill #b3b3b3