@media screen and (max-width: 854px)
	.align-right,
	.align-left,
	.align-center
		// margin-left 0 !important
		// margin-right 0 !important
		// float none

@media screen and (max-width: 767px)

	.mobile-header
		display flex

	.content-center,
	.left-sidebar .nano
		height: calc(100vh - 137px)

	.section_main
		position relative
	.tool-bar
		display none
	
	.left-sidebar
		position absolute
		left -310px
		opacity 0
		visibility hidden
		z-index 1000
		transition all .15s linear
		&.is-open
			left 0
			opacity 1
			visibility visible