@media screen and (max-width: 854px)
	.align-right,
	.align-left,
	.align-center
		// margin-left 0 !important
		// margin-right 0 !important
		// float none

@media screen and (max-width: 767px)
	
	.mobile-search
		display block

	.mobile-header
		display flex

	.content-center,
	.left-sidebar .sidebar-scroll.nano
		height: calc(100vh - 137px)

	.section_main
		position relative
	.tool-bar
		display none
	
	// .left-sidebar
	// 	position absolute
	// 	left -310px
	// 	opacity 0
	// 	visibility hidden
	// 	z-index 1000
	// 	transition all .15s linear
	// 	&.is-open
	// 		left 0
	// 		opacity 1
	// 		visibility visible


@media screen and (max-width: 639px)
	
	.sidebar-aside
		display none
	
	.left-sidebar .sidebar-scroll.nano
		height: calc(100vh - 75px)

	.contents-mobile
		display flex
		&.open
			height: calc(100vh - 132px)
		.content-center
			// max-width 480px
			height calc(100vh - 137px)

	.left-sidebar
		max-width 100%
	
	.main-content
		display none