extends layout.pug

block variabl
	- var title = "Blog"

block header
	.mobile-header
		.mobile-header--top
			.mobile-header--top-left
				a(href="#").burger-menu#mobile-burger
					span
					span
					span
				a(href="#").name-page Name Blog
			a(href="#").search
				+iconSvg('447', '447', '0 0 447 447', 'icon-search')
		.mobile-header--bottom
			ul.list-folder
				li.is-active
					a(href="#") Все #[span 1]
				li
					a(href="") Folder #[span 7]
				li
					a(href="") Folder #[span 6]
				li
					a(href="") Folder
				li
					a(href="") Folder
				li
					a(href="") Folder
				li
					a(href="") Folder
				li
					a(href="") Folder
				li
					a(href="") Folder End

	.mobile-search
		.mobile-search--head
			a(href="#").back-search
				+iconSvg('133', '241', '0 0 133 241', 'icon-back')
			form(action="")
				input(type="text" placeholder="Search").aside-search
		.mobile-search--footer
			p Result

	.overlay--mobile-menu
	.mobile-menu
		h5 Title
		ul.mobile-menu--list
			li
				a(href="#") Item list 1
			li
				a(href="#") Item list 2
			li
				a(href="#") Item list 3
			li
				a(href="#") Item list 4
			li
				a(href="#") Item list 5


block main
	main.section_main

		.container.container-flex

			.overlay-main

			.tool-bar
				ul.tool-bar--list
					li
						a(href="#")
							span.burger-menu
								span
								span
								span
					li
						a(href="#").is-active
							+iconSvg('455', '385', '0 0 455 385', 'icon-message')
							span Все чаты
					li
						a(href="#")
							+iconSvg('512', '384', '0 0 512 384', 'folder-icon')
							span Боты
					li
						a(href="#")
							+iconSvg('512', '384', '0 0 512 384', 'folder-icon')
							span Folder
					li
						a(href="#")
							+iconSvg('512', '384', '0 0 512 384', 'folder-icon')
							span Folder
					li
						a(href="#")
							+iconSvg('512', '384', '0 0 512 384', 'folder-icon')
							span Folder


			.left-sidebar
				.sidebar-aside
					form(action="")
						input(type="text" placeholder="Поиск").aside-search
				.sidebar-category
					.sidebar-scroll.nano
						.nano-content.stopss
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							
			.main-content
				include include/header
				+contentCenter()

			//- +iconSvg('34', '32', '0 0 34 32', 'icon-star')