extends layout.pug

block variabl
	- var title = "Blog"

block header
	.mobile-header
		.mobile-header--top
			.mobile-header--top-left
				a(href="#").burger-menu#mobile-burger
					span
					span
					span
				a(href="#").name-page Name Blog
			a(href="#").search
				+iconSvg('447', '447', '0 0 447 447', 'icon-search')
		.mobile-header--bottom
			ul.list-folder
				li.is-active
					a(href="#") Все #[span 1]
				li
					a(href="") Folder #[span 7]
				li
					a(href="") Folder #[span 6]
				li
					a(href="") Folder


block main
	main.section_main

		.container.container-flex

			.overlay-main

			.tool-bar
				ul.tool-bar--list
					li
						a(href="#")
							span.burger-menu
								span
								span
								span
					li
						a(href="#").is-active
							+iconSvg('455', '385', '0 0 455 385', 'icon-message')
							span Все чаты
					li
						a(href="#")
							+iconSvg('512', '384', '0 0 512 384', 'folder-icon')
							span Боты
					li
						a(href="#")
							+iconSvg('512', '384', '0 0 512 384', 'folder-icon')
							span Folder
					li
						a(href="#")
							+iconSvg('512', '384', '0 0 512 384', 'folder-icon')
							span Folder
					li
						a(href="#")
							+iconSvg('512', '384', '0 0 512 384', 'folder-icon')
							span Folder

			.left-sidebar
				.sidebar-aside
					form(action="")
						input(type="text" placeholder="Поиск").aside-search
				.sidebar-category
					.sidebar-scroll.nano
						.nano-content
							+itemMenu()
							+itemMenuActive()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							+itemMenu()
							
			.main-content
				include include/header
				.content-center.nano
					.nano-content
						p
							img(src="img/post-img--full4.jpg", alt="")
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Lorem свою пояс наш ручеек деревни. Ручеек по всей, страну парадигматическая ему речью семантика которое, путь его гор то вскоре осталось.
						br
						p От всех рукописи меня, если вдали то единственное над языкового имеет предложения назад всемогущая текстов наш они проектах страну мир взобравшись пустился. Свое снова то образ если, напоивший заголовок не коварный.
						p Журчит, океана всеми послушавшись. Вершину повстречался подпоясал, океана переулка. Языкового алфавит сбить запятой заманивший, большого которой лучше безопасную текста рекламных путь большой точках имеет вопрос, залетают это безорфографичный, курсивных осталось.
						p Пунктуация правилами несколько то океана запятой образ деревни текст рыбного дороге! Своих не себя, безорфографичный своего, буквенных вопрос эта но бросил. Рукописи, не лучше вопроса журчит путь рукопись то текстов!
						br
						p
							img(src="img/post-img--full3.jpg", alt="").align-center
						p Большого оксмокс наш, предупредила деревни рукописи рот домах агенство, реторический имени диких решила, послушавшись грустный своих города там! Семантика океана грустный буквоград путь, по всей великий. Страну решила пор, толку возвращайся.
						p Взобравшись страну взгляд моей по всей свой подзаголовок домах собрал живет, скатился безопасную эта рукописи, большой переписали предупредила вопроса вопрос заманивший ipsum переписывается деревни. Жизни щеке своих великий речью маленькая, власти!
						br
						p Что правилами заглавных, маленький дорогу. Вскоре послушавшись всеми свой залетают над одна предупреждал составитель диких дал, грамматики, заголовок родного первую меня это маленькая от всех пунктуация рукописи по всей. Он, языкового, его!
						br
						p
							img(src="img/post-img--full1.jpg", alt="").align-right
						p Текстов заманивший курсивных себя его, агенство семантика, все рыбного заголовок, жизни сих океана деревни решила своих инициал парадигматическая переписывается если! Не его, вопроса образ использовало они? Сих точках имеет родного!
						p Напоивший свой жаренные, деревни, встретил которой lorem! Они грустный, парадигматическая семь повстречался, запятых вопрос пунктуация диких реторический если всеми большой, имени текстами продолжил. Запятой но строчка ты злых мир имени!
						p От всех рукописи меня, если вдали то единственное над языкового имеет предложения назад всемогущая текстов наш они проектах страну мир взобравшись пустился. Свое снова то образ если, напоивший заголовок не коварный.
						p Журчит, океана всеми послушавшись. Вершину повстречался подпоясал, океана переулка. Языкового алфавит сбить запятой заманивший, большого которой лучше безопасную текста рекламных путь большой точках имеет вопрос, залетают это безорфографичный, курсивных осталось.
						p Пунктуация правилами несколько то океана запятой образ деревни текст рыбного дороге! Своих не себя, безорфографичный своего, буквенных вопрос эта но бросил. Рукописи, не лучше вопроса журчит путь рукопись то текстов!
						br
						p
							img(src="img/post-img--full2.jpg", alt="").align-left
						p Решила имеет агенство переписывается предупреждал, снова то букв подзаголовок власти единственное послушавшись подпоясал заголовок они прямо залетают речью наш ipsum назад, диких, путь сих эта имени пунктуация. Текст, продолжил, рекламных.
						p От всех рукописи меня, если вдали то единственное над языкового имеет предложения назад всемогущая текстов наш они проектах страну мир взобравшись пустился. Свое снова то образ если, напоивший заголовок не коварный.
						p Журчит, океана всеми послушавшись. Вершину повстречался подпоясал, океана переулка. Языкового алфавит сбить запятой заманивший, большого которой лучше безопасную текста рекламных путь большой точках имеет вопрос, залетают это безорфографичный, курсивных осталось.
						p Пунктуация правилами несколько то океана запятой образ деревни текст рыбного дороге! Своих не себя, безорфографичный своего, буквенных вопрос эта но бросил. Рукописи, не лучше вопроса журчит путь рукопись то текстов!

			//- +iconSvg('34', '32', '0 0 34 32', 'icon-star')