header.header
	.header-name-wrapper
		a(href="#")#link-back #[+iconSvg('133', '241', '0 0 133 241', 'icon-back')]
		.header-name
			p.name-category Text category
			p.date-category 05.06.20
	.header-info
		a(href="#").header-info--items
			+iconSvg('24', '24', '0 0 24 24', 'icon-bell')
